@charset "UTF-8";
@font-face {
  font-family: 'icomoonregular';
  src: url("../../src/polices/icomoon-webfont.woff2") format("woff2"), url("../../src/polices/icomoon-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icomoonregular {
  font-family: 'icomoonregular';
  font-size: 24px;
}

* {
  box-sizing: content-box;
}

body {
  color: #F0EEE9;
  background-color: black;
  margin: auto;
  font-size: 16px;
  font-family: Lato;
  overflow-y: scroll;
}

ul {
  list-style: none;
}

.title {
  text-align: center;
}

.container_board {
  border: solid black 1px;
  margin: auto;
  width: 80vh;
  height: 80vh;
}

.row_board {
  width: 80vh;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 10vh;
  min-height: 10vh;
  font-weight: bold;
}

.square:hover {
  background-color: #F5DF4D;
}

.dark {
  background-color: #939597;
  color: #F0EEE9;
}

.light {
  background-color: #F0EEE9;
  color: #939597;
}

.titlePicto {
  margin: 2px;
  text-align: center;
}

.cursorPointer {
  cursor: pointer;
}

.cursorContext {
  cursor: context-menu;
}

.text-left {
  text-align: left;
}

#kingButton {
  animation: clignoter 1s 3;
}

@keyframes clignoter {
  0% {
    background-color: #F5DF4D;
  }
  25% {
    background-color: #CF5C78;
  }
  50% {
    background-color: #F5DF4D;
  }
  75% {
    background-color: #CF5C78;
  }
  100% {
    background-color: #F5DF4D;
  }
}

/*Css des id Roi, Dame, Fou, Cavalier, Fou et pion*/
.tailleFont {
  font-family: 'icomoonregular';
  font-weight: 100;
}

#king {
  display: block;
  color: black;
  text-align: center;
  margin: 1px;
}

#rook {
  display: block;
  color: black;
  text-align: center;
  margin: 1px;
}

#queen {
  display: block;
  color: black;
  text-align: center;
  margin: 1px;
}

#bishop {
  display: block;
  color: black;
  text-align: center;
  margin: 1px;
}

#pawn {
  display: block;
  color: black;
  text-align: center;
  margin: 1px;
}

#knight {
  display: block;
  color: black;
  text-align: center;
  margin: 1px;
}

/*gestion de la partie accueil*/
.texte_accueil {
  font-size: 22px;
}

/* aspect bouton des indicateurs du carrousel*/
.carousel-indicators li {
  position: relative;
  bottom: -20px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #CF5C78;
}

/* corps des cartes dans le carrousel*/
.card-body {
  border: solid black;
}

/*couleur des textes*/
.color3 {
  color: #F5DF4D;
}

.color4 {
  color: #CF5C78;
}

.color5 {
  color: #00A0B0;
}

/*couleur arrière-plan du texte dans le carrousel*/
.bg-black {
  background-color: black;
}

/*gestion de la partie cursus*/
.title_atouts, .title_digitales {
  color: #00A0B0;
  font-size: 22px;
}

.souligne {
  text-decoration: underline;
}

#html_icone {
  color: #e34c26;
  background-color: #ebebeb;
}

#css_icone {
  color: #264de4;
  background-color: #ebebeb;
}

#js_icone {
  color: #F0DB4F;
  background-color: #323330;
}

#react_icone {
  color: #61DBFB;
}

#git_icone {
  color: #F1502F;
  background-color: #ebebeb;
}

#bootstrap_icone {
  color: #563d7c;
  background-color: #ebebeb;
}

#jquery_icone {
  color: #0868AC;
  background-color: #ebebeb;
}

#d3_icone {
  color: #ee9448;
  background-color: #ebebeb;
}

/*gestion de la partie contact*/
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

#mailButton {
  font-family: 'icomoonregular';
  color: #CF5C78;
  font-size: 5vh;
  text-align: center;
  display: none;
  font-weight: 100;
}

#mailButton:hover {
  animation: bounce 0.35s ease infinite alternate;
}

#linkedin {
  font-family: 'icomoonregular';
  color: blue;
  font-size: 5vh;
  text-align: center;
  display: none;
  font-weight: 100;
}

#linkedin:hover {
  animation: bounce 0.35s ease infinite alternate;
}

#github {
  font-family: 'icomoonregular';
  color: black;
  font-size: 5vh;
  text-align: center;
  display: none;
  font-weight: 100;
}

#github:hover {
  animation: bounce 0.35s ease infinite alternate;
}

@media (max-width: 575.98px) {
  .title {
    font-size: calc(6*(0.5vh+0.5vw));
  }
  .titlePicto {
    font-size: calc(3*(0.5vh+0.5vw));
  }
  .tailleFont {
    font-size: calc(4*(0.5vh+0.5vw));
  }
  .container_board {
    width: 88vw;
    height: 88vw;
  }
  .row_board {
    width: 88vw;
    height: 11vw;
  }
  .square {
    min-width: 11vw;
    min-height: 11vw;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .title {
    font-size: calc(8*(0.5vh+0.5vw));
  }
  .titlePicto {
    font-size: calc(5*(0.5vh+0.5vw));
  }
  .tailleFont {
    font-size: calc(6*(0.5vh+0.5vw));
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .title {
    font-size: calc(9*(0.5vh+0.5vw));
  }
  .titlePicto {
    font-size: calc(5*(0.5vh+0.5vw));
  }
  .tailleFont {
    font-size: calc(6*(0.5vh+0.5vw));
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .title {
    font-size: calc(10*(0.5vh+0.5vw));
  }
  .titlePicto {
    font-size: calc(5*(0.5vh+0.5vw));
  }
  .tailleFont {
    font-size: calc(7*(0.5vh+0.5vw));
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: calc(12*(0.5vh+0.5vw));
  }
  .titlePicto {
    font-size: calc(5*(0.5vh+0.5vw));
  }
  .tailleFont {
    font-size: calc(8*(0.5vh+0.5vw));
  }
}
